.idea
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
docs_build
venv
**/.venv
docs.zip
archive.zip
~*
node_modules
reports
.DS_Store
d:\\tmp*
d/\\tmp*
**/data
env_windows
backend/.env
mnt
.docker
inzage-cms