.idea
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
.env

node_modules
reports
2.random_data.sql
evtp_gst.csv
.nuxt
.output
.scannerwork
.ruff_cache
.trivy-cache